html,body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	}
img, img:link,img:visited, div {
	border: 0px;
	behavior: url("pngbehavior.htc");
	}
#wrapper {
	text-align: center;
	background: url("/images/background.gif") top left repeat-x;
	height: 100%;
	}
#content {
	text-align: left;
	margin: 0 auto;
	padding-top: 50px;
	width: 850px;
	}
#dude {
	float: left;
	width: 435px;
	height: 295px;
	}
#messageBox {
	float: left;
	width: 410px;
	height: 325px;
	background: url("/images/unsaac.png") top left no-repeat;
	behavior: url("iepngfix.htc");
	}
#myMessage {
	margin: 100px 15px 0 51px;
  font-family: "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #494949;
  font-weight: bold;
	}
