.google-expando__card {
  
  display: -ms-flexbox;
  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  max-width: 100%;
}
a:hover .dada{
  -webkit-animation:      add 0.7s;
  animation:              add 0.7s;
}

@-moz-keyframes add {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes add {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes add {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.google-expando {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: flex-end;
      -ms-flex-align: center;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.google-expando--wrap {
  position: relative;
  width: 100%;
}

.google-expando__icon {
  border-radius: 90%;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  height: 40px;
  width: 40px;
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
          transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
  text-align: center;
  background: #224687;
  color: white;
}
.pdfss{
  border-radius: 90%;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  height: 40px;
  width: 40px;
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
          transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9;
  text-align: center;
  background: #224687;
  color: white;
}
.negro{
  display: block;
  background-color: red;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 8;
}
.negros{
  display: block;
  background-color: red;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 8;
}

.google-expando__icon svg {
  height: 24px;
  vertical-align: text-bottom;
  width: 24px;
  fill: white;
}
.pdfss:hover{
  cursor: pointer;
}
.google-expando__icon:hover {
  cursor: pointer;
}

.google-expando__card {
  border-radius: 2px;
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  height: auto;
  max-width: 540px;
  margin: 0 auto;
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  -webkit-transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1);
          transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  z-index: 9;
  background: white;
  opacity: 0;
}

.google-expando__icon.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.pdfss.active {
   -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.google-expando__card.active {
  height: auto;
  padding: 23px;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 1;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
