body.login.bg1 {
  background: url("../images/bg_login.jpg") center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
}
.loginform{
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
  background: #F7F8F5;
  color: #666;
  padding: 30px;
}